[status]
lastTabIndex = 0
minZoomScale = 500

[main]
PATH_QML=styles/arbres.qml
MEM_LAYER_NAME=Arbres seleccionats
LAYER_NAME=Arbres
FIELD_NAME_0=esp_nom
FIELD_ALIAS_0=Espècie
FIELD_NAME_1=esp_mida
FIELD_ALIAS_1=Mida
FIELD_NAME_2=risc
FIELD_ALIAS_2=Risc
FIELD_NAME_3=baixes
FIELD_ALIAS_3=Baixes
FIELD_NAME_4=carrer
FIELD_ALIAS_4=Carrer
FIELD_NAME_5=codi_distr
FIELD_ALIAS_5=Districte

