[status]
lastTabIndex = 0
defaultZoomScale = 2500 

[main]
LAYER=Arbrat
FIELD_NAME_1=esp_nom
FIELD_ALIAS_1=Espècie o varietat
FIELD_NAME_2=esp_mida
FIELD_ALIAS_2=Estat de desenvolupament
FIELD_NAME_3=risc
FIELD_ALIAS_3=Risc
FIELD_NAME_4=baixes
FIELD_ALIAS_4=Baixes
FIELD_NAME_5=carrer
FIELD_ALIAS_5=Carrer
FIELD_NAME_6=codi_distr
FIELD_ALIAS_6=Districte

