[status]
lastTabIndex = 0
defaultZoomScale = 2500 

[main]
LAYER=Arbrat
TREES_FIELD_1_NAME=esp_nom
TREES_FIELD_1_ALIAS=Espècie o varietat
TREES_FIELD_2_NAME=esp_mida
TREES_FIELD_2_ALIAS=Estat de desenvolupament
TREES_FIELD_3_NAME=risc
TREES_FIELD_3_ALIAS=Risc
TREES_FIELD_4_NAME=baixes
TREES_FIELD_4_ALIAS=Baixes
TREES_FIELD_5_NAME=carrer
TREES_FIELD_5_ALIAS=Carrer
TREES_FIELD_6_NAME=codi_distr
TREES_FIELD_6_ALIAS=Districte

